body { 
    padding-top: 70px;
    background-color: #f1f1f1;
}

.navbar-default {
    border-color:#ff2200;
    border-bottom-width: 3px;
}

ul.nav li {
    padding:0 auto;
}

hr {
    border-bottom: 1px solid #ff2200;
}